# .env.example

# Base de datos
DB_HOST=db
DB_NAME=Api_db
DB_USER=youruser
DB_PASSWORD=yourpassword
DB_PORT=5432

# Django settings
SECRET_KEY=your-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,localhost:8000
